{% extends "base.html" %}

{% block head %}
<title>Home</title>
{% endblock %}


{% block body %}
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Welcome to Kaustav's blog. Here we'll talk bout Robotics Engineering and AI.Feel free to get in touch
                with me via Linkedin.
                <br>
                <a class="btn btn-primary" href="https://www.linkedin.com/in/kaustav-ghosh-1538651bb/"
                    role="button">Linkedin
                    &raquo;</a>
                <a class="btn btn-primary" href="/posts" role="button">Go to Posts
                    &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}