{% extends "base.html" %}

{% block head %}
<title>New Post</title>
{% endblock %}

{% block body %}
<h1>New Posts</h1>

<hr>
<h2>Create New Blog Post: </h2>
<form action="/posts" method="POST">
    <label for="content">Enter Title</label>
    <input class="form-control" type="text" name="title" id="title" placeholder="Enter Title" aria-label="Search">
    <br>

    <label for="content">Enter Author</label>
    <input class="form-control" type="text" name="author" id="author" placeholder="Enter Author" aria-label="Search">
    <br>


    <label for="content">Enter Post Text</label>
    <textarea class="form-control" id="content" name="content" rows="3" placeholder="Enter Content"
        aria-label="Search"></textarea>

    <br>
    <input type="submit" value="Post">
</form>
<hr>



{% endblock %}